<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE xml>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml" />
    
	<springProfile name="default">
	
		<logger name="com.appvengers.seoulapp" additivity="false">
		    <level value="debug"/>
            <appender-ref ref="CONSOLE" />
        </logger>
        
<!-- 		<logger name="org.hibernate" additivity="false">
		    <level value="debug"/>
            <appender-ref ref="CONSOLE" />
        </logger> -->
        
		<logger name="org.hibernate.SQL" additivity="false">
		    <level value="debug"/>
            <appender-ref ref="CONSOLE" />
        </logger>
        
		<logger name="org.hibernate.type.descriptor.sql" additivity="false">
		    <level value="trace"/>
            <appender-ref ref="CONSOLE" />
        </logger>

		<root level="INFO">
			<appender-ref ref="CONSOLE" />
		</root>
		
	</springProfile>

</configuration>